# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/database.db
*.log
tmp/
